@media (min-width: 750px) {
  .publicaciones-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18vw, 1fr));
    gap: 1vw;
    width: 100%;
    max-width: 100%;
    justify-items: center;
  }

  .noLibros {
    font-size: 1vw;
  }

  .title {
    font-size: 2vw;
  }
}

@media (max-width: 749px) {
  .publicaciones-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));
    gap: 2vw;
    width: 100%;
    max-width: 100%;
    justify-items: center;
  }

  .noLibros {
    font-size: 3.5vw;
    text-align: center;
  }

  .title {
    font-size: 5vw;
    text-align: center;
  }
}
